<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/alex.fahim.9250" target="_blank" title="Facebook">
                <i class="fa-brands fa-facebook"></i>
            </a>

            <a href="https://www.instagram.com/md_fahim.akram/" target="_blank" title="Instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>

            <a href="https://www.linkedin.com/in/md-fahim-dev/" target="_blank" title="LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>

            <a href="https://github.com/mdfahim10" target="_blank" title="GitHub">
                <i class="fa-brands fa-github"></i>
            </a>

            <a href="https://mdfahimportfolio.netlify.app/" target="_blank" title="Portfolio">
                <i class="fa-solid fa-globe"></i>
            </a>
        </div>

        <div class="f-info-text">
           © 2026 WanderLust | Designed & Developed by Md Fahim
        </div>

        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="https://mdfahimportfolio.netlify.app/" target="_blank">Portfolio</a>
        </div>
    </div>
</footer>