<% layout("/layouts/boilerplate")%>
<style>
    #filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 1.5rem 0;
}
.filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0.7;
    transition: all 0.3s ease;

    text-decoration: none;
    color: inherit;
}

.filter:hover{
    opacity: 1;
    cursor: pointer;
    transform: translateY(-3px);

    text-decoration: none;
    color: inherit;
}
.filter i{
    font-size: 1.2rem;
}
.filter p{
    margin-top: 0.4rem;
    font-size: 0.8rem;
    margin-bottom: 0;
}
</style>
    <div id="filters">
        <a href="/listings" class="filter">
            <div><i class="fa-solid fa-border-all"></i></div>
            <p>All</p>
        </a>

        <a href="/listings?category=Trending" class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </a>

        <a href="/listings?category=Rooms" class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </a>

        <a href="/listings?category=Mountains" class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Mountains</p>
        </a>

        <a href="/listings?category=Pools" class="filter">
            <div><i class="fa-solid fa-water"></i></div>
            <p>Pools</p>
        </a>

        <a href="/listings?category=Beach" class="filter">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Beach</p>
        </a>

        <a href="/listings?category=Arctic" class="filter">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
        </a>

        <a href="/listings?category=Camping" class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </a>

        <a href="/listings?category=Forest" class="filter">
            <div><i class="fa-solid fa-tree"></i></div>
            <p>Forest</p>
        </a>

        <a href="/listings?category=Lakefront" class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Lakefront</p>
        </a>

        <a href="/listings?category=Historical" class="filter">
            <div><i class="fa-solid fa-landmark"></i></div>
            <p>Historical</p>
        </a>

        <a href="/listings?category=City View" class="filter">
            <div><i class="fa-solid fa-building"></i></div>
            <p>City View</p>
        </a>

        <a href="/listings?category=Cabins" class="filter">
            <div><i class="fa-solid fa-house"></i></div>
            <p>Cabins</p>
        </a>

        <a href="/listings?category=Luxury" class="filter">
            <div><i class="fa-solid fa-gem"></i></div>
            <p>Luxury</p>
        </a>

        <a href="/listings?category=Farm Stay" class="filter">
            <div><i class="fa-solid fa-tractor"></i></div>
            <p>Farm Stay</p>
        </a>

        <a href="/listings?category=Boats" class="filter">
            <div><i class="fa-solid fa-ship"></i></div>
            <p>Boats</p>
        </a>

        <a href="/listings?category=Tree House" class="filter">
            <div><i class="fa-solid fa-tree-city"></i></div>
            <p>Tree House</p>
        </a>
        </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
    <% for(let listing of allListings){ %>
    <a href="/listings/<%= listing.id %> " class="listing-link">
    <div class="card col listing-card">
        <img src="<%= listing.image?.url || listing.image.url %>" class="card-img-top" alt="listing_image" height="240rem">
        <div class="card-img-overlay"></div>
        <div class="card-body">
            <p class="card-text">
                <b><%= listing.title %><br></b>
                ₹ <%= listing.price.toLocaleString("en-IN") %>
            </p>
        </div>
    </div>
    </a>
    <% } %>
    </div>
