
body {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
    flex: 1;
}
h3 {
  font-weight: 600 !important;
}

.navbar {
  font-weight: 500 !important;
}

.navbar{
    height: 5rem;
    background-color:white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
    
}
.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.f-info-socials,
.f-info-text,
.f-info-links {
    width: 100%;
    margin-bottom: 0.5rem;
}
.f-info-links a {
    text-decoration: none;
    color: #222222;
    margin: 0 0.5rem;
}

.f-info-links a:hover {
    text-decoration: underline;
}
.card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400;
}
.listing-link{
    text-decoration: none;
}
/*Card effect */
.card-img-overlay{
    text-align: center;
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.25;
    background-color: white;
}
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}